h1 {
    font-size: 18px;
}
#container {
    background-color: #cfe2f3;
    border: 1px solid #000000;
    padding: 10px;
    width: 400px;
    height: 300px;
}
#projects {
    display: none;
    position: relative;
}
#projects li {
    cursor: pointer;
}
#deployments {
    display: none;
    position: relative;
}
#message {
    display: none;
    position: relative;
    top: 200;
    left: 200;
    background-color: #cfe2f3;
    padding: 10px;
    font-weight: bold;
}
